* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0033A0;     
    --secondary-color: #F4D35E; 

   
    --background-color: #f5f5f5;
    --surface-color: #ffffff;
    --text-color: #222222;
    --text-light: #ffffff;

    
    --border-radius: 8px;
    --shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background: #f4f4f4;
}


/* HEADER */

header {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 1.5rem;
}

header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* MAIN */

main {
    max-width: 800px;
    margin: 0 auto;
}

form {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* FORM GROUPS */

.form-group {
    margin-bottom: 2rem;
}

.form-group p,
.form-group label:first-child {
    font-size: 1.3rem;
    font-weight: bold;
}

/* INPUTS */

input[type="text"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
    min-height: 150px;
}

/* RATING */

.rating {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.rating-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.rating-input label {
    font-size: 1.5rem;
}

.rating-input input {
    width: 20px;
    height: 20px;
}

/* FEATURES */

.features {
    display: flex;
    flex-direction: column;
}

.features input[type="checkbox"] {
    width: auto;
    margin-right: .5rem;
}

.features label:has(input[type="checkbox"]) {
    display: block;
    font-size: 1.1rem;
    font-weight: normal;
    margin-bottom: .75rem;
}

/* BUTTON */

.submit-btn {
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1px solid #999;
    background: white;
    cursor: pointer;
}

.submit-btn:hover {
    background: #eee;
}

/* FOOTER */

footer {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 30px;
}

/* MOBILE */

@media (max-width: 600px) {

    form {
        padding: 1rem;
    }

    .rating {
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: center;
    }
}